<%- include('header') -%>

<h1>Seinustu leikir</h1>

<form method="post" action="/skra">
  <div>
    <label for="home_name">Heimalið</label>
    <select id="home_name" name="HOME_ID">
      <% teams.forEach(function(team){ %>
        <option value="<%= team.id %>"><%= team.name %></option>
      <% }); %>
    </select>
  </div>
  <div>
    <label for="away_name">Útilið</label>
    <select id="away_name" name="AWAY_ID">
      <% teams.forEach(function(team){ %>
        <option value="<%= team.id %>"><%= team.name %></option>
      <% }); %>
    </select>
  </div>
  <div>
    <label for="home_score">Heima skor</label>
    <input type="text" id="home_score" name="HOME_SCORE">
  </div>
  <div>
    <label for="away_score">Úti skor</label>
    <input type="text" id="away_score" name="AWAY_SCORE">
  </div>
  <button>Skrá</button>
</form>
